@page
@model SyncFusionPractice.Pages.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}
<div class="control-section">
        <div id="wrapper" class="datepicker-section">
            <div id="datepicker-control">
                <ejs-calendar id="calendar"></ejs-calendar>
            </div>
        </div>
    </div>